<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}생성형 AI 기반 건강 유형 분석 서비스{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">

    {% block head %}{% endblock %}
</head>
<body>
    {% include 'common/header.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% if request.endpoint != 'index' %}
        {% include 'common/footer.html' %}
    {% endif %}

    {% block scripts %}{% endblock %}

    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
</body>
</html>